@import url("https://use.typekit.net/kws8ftd.css");

$font-family: "canada-type-gibson";

.FancyLinkedDraggableGrid {
  display: flex;
  border: 1px solid #333;
  color: #fff;
  font-family: $font-family;

  > .FancyResizable {
    display: flex;
    position: relative;
    height: 25px;

    &:hover > .FancyDraggableHandler {
      display: block;
      width: 50px;
    }

    &:nth-child(2n) {
      background: #3D5AFE;
    }

    &:nth-child(2n+1) {
      background: #304FFE;
    }

    &:last-child > .FancyDraggableHandler {  // Last element is not draggable
      display: none;
    }

    > .FancyDraggableHandler {
      display: none;
      position: absolute;
      z-index: 10;
      cursor: col-resize;
      width: 10px;
      height: 100%;
      margin-left: auto;

      > .Handle {
        background: #333;
        width: 1px;
        height: 100%;
      }
    }

    > .TemperatureDisplay {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      > .Low {
        margin-left: 5px;
      }

      > .High {
        margin-right: 5px;
      }
    }
  }
}

.TemperatureLinkedGrid {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: $font-family;

  > .ExternalTemperatureDisplay {
    position: relative;
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 5px;
    }

    &:last-child {
      margin-left: 5px;
    }
  }
  
  > .Grid {
    display: flex;
    flex-direction: column;
    
    > .LabelGroup {
      display: flex;
      position: relative;
      height: 20px;

      > .ExternalTemperatureDisplay {
        position: absolute;
      }
    }
  }
  .FancyLinkedDraggableGrid {
    .FancyResizable {
      &:hover, &-selected {
        cursor: pointer;
        background: #3D5AFE !important;
      }

      &:nth-child(2n) {
        background: grey;
      }
  
      &:nth-child(2n+1) {
        background: darken(grey, 5%);
      }

    }
  }
}

.BlankCheckeredPattern{
  background: linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
  background-repeat: repeat, repeat;
  background-position: 0 0, 10px 10px;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  background-size: 20px 20px, 20px 20px;
}
